<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>
<div class="content-wrapper">
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>
  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="(todo | async) ?? []" 
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        @for (task of todo | async; track $index) {
          <app-task (edit)="editTask('todo', $event)" cdkDrag [task]="task"></app-task>
        } @empty {
          <p class="empty-label">Empty List</p>
        }
      </mat-card>
    </div>

    <div class="container">
      <h2>In Progress</h2>
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="(inProgress | async) ?? []"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        @for (task of inProgress | async; track $index) {
          <app-task (edit)="editTask('inProgress', $event)" cdkDrag [task]="task"></app-task>
        } @empty {
          <p class="empty-label">Empty List</p>
        }
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="(done | async) ?? []"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        @for (task of done | async; track $index) {
          <app-task (edit)="editTask('done', $event)" cdkDrag [task]="task"></app-task>
        } @empty {
          <p class="empty-label">Empty List</p>
        }
      </mat-card>
    </div>
  </div>
</div>