<div class="w-screen h-screen bg-midnight-900">
    <div class="w-2/4 flex  relative h-full mx-auto px-3">
        <div class="w-full">
            Message
        </div>
        <div class="absolute w-full bottom-2 z-50 left-0 p-3 right-0">
            <div
                class="p-4 flex items-center gap-2 border-[0.2px] rounded-3xl border-midnight-550 bg-midnight-850 backdrop-blur">
                <div class="flex gap-1 items-end">
                    <div class="h-[40px] w-[40px] hover:bg-midnight-700 p-1 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 32 32" width="32" height="32" preserveAspectRatio="xMidYMid meet"
                            style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                            <defs>
                                <clipPath id="__lottie_element_95">
                                    <rect width="32" height="32" x="0" y="0"></rect>
                                </clipPath>
                                <g id="__lottie_element_102">
                                    <g transform="matrix(0.9999977946281433,-0.0012297783978283405,0.0012297783978283405,0.9999977946281433,16,16)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                            <path fill="url(#__lottie_element_105)" fill-opacity="1"
                                                d=" M0.027000000700354576,14 C0.47999998927116394,6.489999771118164 6.489999771118164,0.47999998927116394 14,0.027000000700354576 C14,0.027000000700354576 14,-0.027000000700354576 14,-0.027000000700354576 C6.489999771118164,-0.47999998927116394 0.47999998927116394,-6.489999771118164 0.027000000700354576,-14 C0.027000000700354576,-14 -0.027000000700354576,-14 -0.027000000700354576,-14 C-0.47999998927116394,-6.489999771118164 -6.489999771118164,-0.47999998927116394 -14,-0.027000000700354576 C-14,-0.027000000700354576 -14,0.027000000700354576 -14,0.027000000700354576 C-6.489999771118164,0.47999998927116394 -0.47999998927116394,6.489999771118164 -0.027000000700354576,14 C-0.027000000700354576,14 0.027000000700354576,14 0.027000000700354576,14z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <linearGradient id="__lottie_element_105" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-9.222999572753906" y1="8.489999771118164"
                                    x2="10.461999893188477" y2="-8.211999893188477">
                                    <stop offset="0%" stop-color="rgb(33,123,254)"></stop>
                                    <stop offset="14%" stop-color="rgb(20,133,252)"></stop>
                                    <stop offset="27%" stop-color="rgb(7,142,251)"></stop>
                                    <stop offset="52%" stop-color="rgb(84,143,253)"></stop>
                                    <stop offset="78%" stop-color="rgb(161,144,255)"></stop>
                                    <stop offset="89%" stop-color="rgb(175,148,254)"></stop>
                                    <stop offset="100%" stop-color="rgb(189,153,254)"></stop>
                                </linearGradient>
                                <linearGradient id="__lottie_element_109" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-4.002999782562256" y1="4.630000114440918"
                                    x2="8.092000007629395" y2="-7.886000156402588">
                                    <stop offset="0%" stop-color="rgb(33,123,254)"></stop>
                                    <stop offset="14%" stop-color="rgb(20,133,252)"></stop>
                                    <stop offset="27%" stop-color="rgb(7,142,251)"></stop>
                                    <stop offset="52%" stop-color="rgb(84,143,253)"></stop>
                                    <stop offset="78%" stop-color="rgb(161,144,255)"></stop>
                                    <stop offset="89%" stop-color="rgb(175,148,254)"></stop>
                                    <stop offset="100%" stop-color="rgb(189,153,254)"></stop>
                                </linearGradient>
                                <mask id="__lottie_element_102_1" mask-type="alpha">
                                    <use xlink:href="#__lottie_element_102"></use>
                                </mask>
                            </defs>
                            <g clip-path="url(#__lottie_element_95)">
                                <g mask="url(#__lottie_element_102_1)" style="display: block;">
                                    <g transform="matrix(1,0,0,1,16,16)" opacity="1">
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                            <path fill="url(#__lottie_element_109)" fill-opacity="1"
                                                d=" M0,-16 C8.830400466918945,-16 16,-8.830400466918945 16,0 C16,8.830400466918945 8.830400466918945,16 0,16 C-8.830400466918945,16 -16,8.830400466918945 -16,0 C-16,-8.830400466918945 -8.830400466918945,-16 0,-16z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div
                        class="h-[40px] w-[40px] hover:bg-midnight-700 text-midnight-400 flex items-center justify-center font-bold p-1 rounded-full">
                        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="text-xl"
                            aria-hidden="true">
                            <path
                                d="M11.7498 3C12.1295 3 12.4434 3.28201 12.4931 3.64808L12.5 3.74985L12.5012 11H19.7543C20.1685 11 20.5043 11.3358 20.5043 11.75C20.5043 12.1297 20.2221 12.4435 19.8561 12.4932L19.7543 12.5H12.5012L12.5032 19.7491C12.5033 20.1633 12.1676 20.4993 11.7534 20.4993C11.3737 20.4993 11.0598 20.2173 11.0101 19.8512L11.0032 19.7494L11.0012 12.5H3.7522C3.33798 12.5 3.0022 12.1642 3.0022 11.75C3.0022 11.3703 3.28435 11.0565 3.65043 11.0068L3.7522 11H11.0012L11 3.75015C10.9999 3.33594 11.3356 3 11.7498 3Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <textarea #messageInput placeholder="Message Gemini" rows="1"
                    class="flex-grow bg-midnight-900 rounded-lg placeholder:text-midnight-350 resize-none px-3 py-3 focus:outline-none active:outline-none text-midnight-300 max-h-[200px] overflow-y-auto"
                    (input)="adjustTextareaHeight(messageInput)"></textarea>
                <div class="">
                    <div
                        class="h-[40px] w-[40px] text-midnight-400 bg-midnight-700 active:bg-midnight-750 hover:bg-midnight-650 flex items-center justify-center font-bold p-1 rounded-full">
                        <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class=""
                            version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24">
                            <title>send</title>
                            <path fill="currentColor"
                                d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>