<div class="w-full h-full flex flex-col gap-4 items-center justify-center">
  <div class="flex justify-center items-center gap-4">
    <img src="assets/angular.png" class="w-[400px]" alt="Angular logo" />
    <i class="{{ faIcon('plus') }} text-3xl font-bold"></i>
    <img src="assets/scully.png" class="w-[400px]" alt="Scully logo" />
  </div>
  <div class="flex justify-center flex-col items-center gap-4">
    <h5 class="text-3xl font-bold text-slate-700">Angular Projects</h5>
    <p class="text-xl font-medium text-center text-slate-700">
      A personal blog created with the Angular framework <br />
      and the Scully static site generator
    </p>
    <div class="flex gap-3">
      <a
        href="https://angular.io/"
        target="_blank"
        class="py-2 px-3 bg-pink-200 text-pink-500 rounded-full"
        >Angular</a
      >
      <a
        href="https://scully.io/"
        target="_blank"
        class="py-2 px-3 bg-green-200 text-green-500 rounded-full"
        >Scully</a
      >
    </div>
  </div>
</div>
